/bin/windows_visual_studio/Debug_x64/*.exe
/bin/windows_visual_studio/Debug_x64/*.ilk
/bin/windows_visual_studio/Debug_x64/*.pdb
/obj/windows_visual_studio/Debug_x64/*.obj
/obj/windows_visual_studio/Debug_x64/*.idb
/obj/windows_visual_studio/Debug_x64/*.pdb
/project_settings/windows_visual_studio/MM_SortingAlgorithms/MM_SortingAlgorithms/x64/Debug/MM_Sorti.A7AB68B0.tlog/*.tlog
/project_settings/windows_visual_studio/MM_SortingAlgorithms/MM_SortingAlgorithms/x64/Debug/MM_Sorti.A7AB68B0.tlog/*.lastbuildstate
/project_settings/windows_visual_studio/MM_SortingAlgorithms/MM_SortingAlgorithms/x64/Debug/*.log
/bin/windows_visual_studio/Release_x64/*.exe
/bin/windows_visual_studio/Release_x64/*.iobj
/bin/windows_visual_studio/Release_x64/*.ipdb
/bin/windows_visual_studio/Release_x64/*.pdb
/obj/windows_visual_studio/Release_x64/*.obj
/obj/windows_visual_studio/Release_x64/*.pdb
/project_settings/windows_visual_studio/MM_SortingAlgorithms/MM_SortingAlgorithms/Debug/MM_Sorti.A7AB68B0.tlog/*.tlog
/project_settings/windows_visual_studio/MM_SortingAlgorithms/MM_SortingAlgorithms/Debug/MM_Sorti.A7AB68B0.tlog/*.lastbuildstate
/project_settings/windows_visual_studio/MM_SortingAlgorithms/MM_SortingAlgorithms/Debug/*.log
/project_settings/windows_visual_studio/MM_SortingAlgorithms/MM_SortingAlgorithms/x64/Release/MM_Sorti.A7AB68B0.tlog/*.tlog
/project_settings/windows_visual_studio/MM_SortingAlgorithms/MM_SortingAlgorithms/x64/Release/MM_Sorti.A7AB68B0.tlog/*.lastbuildstate
/project_settings/windows_visual_studio/MM_SortingAlgorithms/MM_SortingAlgorithms/x64/Release/*.log
/obj/windows_gcc/Algorithms_Sorting/*.o
/obj/windows_gcc/*.o
/obj/windows_gcc/Sorting_dataStructure/*.o
/doc/~$SortingAlgos.xlsx
/project_settings/windows_visual_studio/MM_SortingAlgorithms/MM_SortingAlgorithms/x64/Release/MM_Sorti.A7AB68B0.tlog/unsuccessfulbuild
/project_settings/windows_visual_studio/MM_SortingAlgorithms/MM_SortingAlgorithms/x64/Debug/MM_Sorti.A7AB68B0.tlog/unsuccessfulbuild
